
body {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/world.png');
}

h1 {
    font-family: "Arial Black", monospace;
    text-align: center;
}

.flex-box {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}

.card {
    border: 3px solid black;
    border-radius: 10px;
    transition: all 1s linear;
    transform-style: preserve-3d;
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 180px;
    width: 180px;
}

.front,
.back {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    font-size: 25px;
    font-family: 'Lobster', cursive;
    text-align: center;

}

.front {
    background: linear-gradient(#08aeea, #2af598);
    z-index: 2;
    backface-visibility: hidden;
}

.back {
    background: linear-gradient(#f8da61, #ff5acd);
    z-index: 1;
    transform: rotateY(180deg);
}

.container:hover .card {
    transform: rotateY(180deg);
}

.container {
    perspective: 1000px;
}